<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd"
       default-lazy-init="false">

    <context:component-scan base-package="com.qlin"/>
    <context:annotation-config/>
    <tx:annotation-driven/>

    <!-- 加载数据源 -->
    <bean id="propertySourcesPlaceholderConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
                <value>classpath:app.properties</value>
                <!--<value>classpath:dubbo.properties</value>-->
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true"/>
    </bean>

    <import resource="classpath:dataSource/datasource.xml"/>
    <import resource="classpath:mybatis/mybatis-spring.xml"/>
    <!--<import resource="classpath:dubbo/spring-dubbo-server.xml"/>
    <import resource="classpath:dubbo/spring-dubbo-client.xml"/>-->
    <import resource="classpath:transaction/applicationContext-transaction.xml"/>
</beans>
