<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://code.alibabatech.com/schema/dubbo
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd
        ">
    <!--客户端配置-->
    <dubbo:registry protocol="zookeeper" address="${dubbo.registry.address}" id="qlinsmartZookeeper"/>
    <dubbo:consumer id="qlinsmartConsumer" registry="qlinsmartZookeeper" check="false"/>


    <dubbo:reference consumer="qlinsmartConsumer" id="goodsServiceClient"
                     interface="com.qlin.smart.api.IGoods"
                     group="${dubbo.group.bpms}" protocol="dubbo"/>

</beans>
