<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 配置本地数据源的sessionFactory，并进行mapper扫描 -->
    <bean id="localSqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="localDataSource" />
        <property name="mapperLocations" value="classpath*:com/qlin/**/mapper/*.xml" />
    </bean>

    <bean id="localSqlSession" class="org.mybatis.spring.SqlSessionTemplate"  scope="prototype">
        <constructor-arg index="0" ref="localSqlSessionFactory" />
    </bean>
</beans>